
<html>
<head>
</head>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/js/ajax.js"></script>
<body>

    <p>Device: {{configtex_html}} </p>
    <p>Device: {{loopstext_html}} </p>
    <p>Device: {{deviceinfo_html}} </p>
    <p>Data:   {{message_html}}  </p>
    <!-- This is to render the chart -->>
    <div style="width: 400px; height: 400px;" id="chart"></div>

</body>
</html>



