<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RCR-Rocketry</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" src="static/templates/assets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" src="static/templates/assets/styles.css" />
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.27.1/dist/apexcharts.css" /-->

</head>

<body style="background-color: #ffffff">
    <div id="wrapper">
        <div class="content-area">
          <div class="container-fluid" style="background-color: #ffffff">
            <div class="d-fixed mt-4">
              <a
              href="/"
              target="_blank"
              class="btn btn-outline-dark mr-2"
              >
              <span class="btn-text">Dashboard</span>
              </a> 

              <a
              href="https://rivercityrocketry.com"
              target="_blank"
              class="btn btn-outline-dark mr-2"
              >
                  <span class="btn-text">Start Sequence 1</span>
              </a>

              <a
              href="https://rivercityrocketry.com"
              target="_blank"
              class="btn btn-outline-dark mr-2"
              >
              <span class="btn-text">Start Sequence 2</span>
              </a>
        </div>

        
            <img src = "static/templates/assets/PIDDiagramFull.svg" alt="PID Diagram Full"/>
        
        </div>
    </div>
</div>

</body>

</html>